/* Every element's box sizing is set to border-box. */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

#heading {
    color: greenyellow;
    background-color: grey;
    padding: 20px;
    margin-bottom: 15px;
}

img {
    padding: 25px;
    background-color: brown;
}

.recipe-links a {
    padding: 8px;
    text-decoration: none;
    margin: 20px;
}

.recipe-links a:hover {
    text-decoration: underline;
}

.recipe-description {
    margin: 15px 20px;
    background-color: yellow;
    border: solid 8px black;
}